<footer class="footer-dark">
    <ul>
        <li>
            <a href="#">© Daya Blogs</a>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li class="fa fa-twitter">
        </li>
        <li class="fa fa-facebook">
        </li>
    </ul>
</footer>
</html>