<%- include('./partials/header.ejs') %>
<div class="body-normal"> 
    <table class="about-table">
        <tbody>
            <tr>
                <td><img src='https://avatars.githubusercontent.com/u/79293067?v=4' alt="Users photo" width="140" height="200"></td>
                <td> <b> About Us: </b> <br> <br>

                    This is a blog's website where you can login with your credentials and <br> 
                    access the blogs of various users. you can click on the each blog to <br> 
                    read more about that particular blog and access the material such as where <br>
                    it was posted, start time and end time , date of the conference and also <br>
                    details about it. You can update the blog's created by you. 
                </td>
            </tr>
        </tbody>
    </table>
</div>
<%- include('./partials/footer.ejs') %>