<%- include('./partials/header.ejs') %>
<div class="body-connect"> 
    <h4> Call Us: </h4>
    <p> 5189525096</p> 
    <h4> Email Me:</h4>
    <p>dravuri@uncc.edu</p> 
    <h4>Connect through linkedin:</h4>
    <p><a href='https://www.linkedin.com/in/dayakar-ravuri/'> Linkedin</a></p>
</div>
<%- include('./partials/footer.ejs') %>