<%- include('./partials/header.ejs') %>
    <div class="body-normal">
        <p> Welcome to Daya's Blogs Website</p>
        <p> In this website you will be allowed to create new blogs which will be <br>
            private or public stories. User can login to read all public stories <br>
            available and also user can modify the stories published by them. <br>
        </p>
        <p> Check out the Connections section to browse available connections!
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>