<%- include('../partials/header.ejs')%>
<div class="body-newConnection"> 
    <form action = '/connections' method = 'POST'>
        <table class="newConnection-table">
            
            <tbody>
            <tr>
            <td><label for="topic">Topic</label></td>
            <td><input type="text" id="topic" value="" name="categoryTopic" size="50" required></td>
            
            </tr>
            <tr>
                <td><label for="title">Title</label></td>
                <td><input type="text" id="title" value=""  name="connectionName"  size="50" required></td>
                
            </tr>
            <tr>
                <td><label for="details">Details</label></td>
                <td><textarea  id="details" rows="3" name="details" cols="50" minlength="10" required></textarea></td>
                
            </tr>
            <tr>
                <td><label for="where">Conference Location</label></td>
                <td><input type="text" id="where" value=""  name="location" size="50" required></td>
                
            </tr>
            <tr>
                <td><label for="when">Date</label></td>
                <td><input type="date" id="when" name="date" required></td>
                
            </tr>
            <tr>
                <td><label for="start">Start Time</label></td>
                <td><input type="time" name="startTime" id="start" required></td>
                
            </tr>
            <tr>
                <td><label for="end">End Time</label></td>
                <td><input type="time" name="endTime" id="end" required></td>
                
            </tr>
            <tr>
                <td><label for="importurl">Image Url</label></td>
                <td><input type="text" id="importurl" value="" name="image" size="50" required></td>
                
            </tr>
    
            <tr>
                <td class= "submit"><button class="submit-newConnection" id="submitButton">Create Blog</button></td>
            </tr>
            
            </tbody>
            </table>
        </form>
</div>
    <%- include('../partials/footer.ejs')%>